.main {
    margin: 15px auto;
    overflow: hidden;
}
.image img {
    height: 100%;
    width: 100%;
    }
.view .image {
    position: relative;
    padding: 0;
    width: 50%;
    cursor: pointer;
    height: 70vh;
}

#overlay {
    transition: all 0.5s;
    opacity: 0;
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 50px;
    color: #fff;
    text-align: center;
    background: #EC6341;    
}
span {
    display: table-cell;
    vertical-align: middle;
    font-size: 34px;

}
.image:hover #overlay {
    opacity: 0.9;
}
@keyframes view_img {
    from { transform:scale(0); }
    to { transform:scale(1); }
}
#img_view img {
    width: 100%;
    height: 100%;
}
#img_view_close {
    position: fixed;
    top: 10px;
    right: 80px;
    font-size: 41px;
    color: #fff;
    cursor: pointer;
    display: none;
}
#img_view {
    position: fixed;
    animation: view_img 2s;
    display: none;
    top: 50px;
    overflow: hidden;
    width: 100%;
}
#prev {
    position: absolute;
    top: 35%;
    font-size: 70px;
    left: 58px;
    color: #fff;
    cursor: pointer;
    z-index: 99999;
}
#next {
    position: absolute;
    top: 35%;
    font-size: 70px;
    right: 35px;
    color: #fff;
    cursor: pointer;
    z-index: 99999;
}



/*  ------------------------ */

#viewer_img li {
    float: left;
    width: 650px;
    height: 350px;
    overflow: hidden;
    margin: 0 150px;
}
#viewer_img {
    width: 60000px;
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    position: relative;
}

